@use '../../../../styles/DefaultVars.scss' as defaultVars;

.component-text-Small {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: defaultVars.$originalThemeThirdColor;
    text-align: left;
}

.component-text-Medium {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: defaultVars.$originalThemeThirdColor;
    text-align: left;
}

.component-text-Medium.isDisabled {
    color: defaultVars.$originalThemeEighthColor;
}

.component-text-Large {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: defaultVars.$originalThemeThirdColor;
    text-align: left;
}
