@use '../../../../styles/DefaultVars.scss' as defaultVars;

.component-icon-svg-Arrow {
    width: 24px;
    height: 24px;

    svg {
        width: 100%;
        height: 100%;
    }
}

.component-icon-svg-ArrowSmall {
    width: 14px;
    height: 8px;
    line-height: 0;

    svg {
        width: 100%;
        height: 100%;
    }
}

.component-icon-svg-Check {
    width: 14px;
    height: 10px;

    svg {
        width: 100%;
        height: 100%;
    }
}

.component-icon-svg-ControlPanel {
    width: 24px;
    height: 24px;

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: defaultVars.$originalThemeSecondColor;
        }
    }
}

.component-icon-svg-DefaultPhoto {
    width: 220px;
    height: 212px;

    svg {
        width: 100%;
        height: 100%;
    }
}

.component-icon-svg-Logo {
    width: 212px;
    height: 40px;

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: defaultVars.$originalThemeFourthColor;
        }
    }
}

.component-icon-svg-Search {
    width: 20px;
    height: 20px;

    svg {
        width: 100%;
        height: 100%;
    }
}

.component-icon-svg-YellowTube,
.component-icon-svg-YellowMail,
.component-icon-svg-YellowDoc,
.component-icon-svg-YellowAddress,
.component-icon-svg-YellowProfile {
    width: 28px;
    height: 29px;

    svg {
        width: 100%;
        height: 100%;
    }
}
