@use './DefaultVars.scss' as defaultVars;
@use './FontsStyles.scss';
@use './ResetStyles.scss';

body {
    background-color: defaultVars.$coralThemThirdColor;
}

h1 {
    text-align: center;
    font-size: 23px;
    line-height: 35px;
    padding: 21px 17px;
    color: defaultVars.$coralThemFourthColor;
}

h2 {
    text-align: center;
    font-size: 21px;
    line-height: 31px;
    padding: 19px 17px;
    color: defaultVars.$coralThemFourthColor;
}

h3 {
    text-align: center;
    font-size: 19px;
    line-height: 27px;
    padding: 17px 17px;
    color: defaultVars.$coralThemFourthColor;
}

h4 {
    text-align: center;
    font-size: 17px;
    line-height: 23px;
    padding: 17px 17px;
    color: defaultVars.$coralThemFourthColor;
}

h5 {
    text-align: center;
    font-size: 15px;
    line-height: 19px;
    padding: 15px 17px;
    color: defaultVars.$coralThemFourthColor;
}

h6 {
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    padding: 13px 17px;
    color: defaultVars.$coralThemFourthColor;
}

p {
    padding: 10px 17px;
    font-size: 12px;
    line-height: 17px;
    text-align: justify;
    color: defaultVars.$coralThemFifthColor;
    text-indent: 30px;
}
