@use './DefaultVars.scss' as defaultVars;
@use './FontsStyles.scss';
@use './ResetStyles.scss';

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: defaultVars.$originalThemeSecondColor;

    #root {
        height: 100%;

        .root-parent {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;

            .root-header {
                overflow: hidden;
                flex: none;
            }

            .root-footer {
                flex: none;
                background-color: defaultVars.$originalThemeFirstColor;
            }

            .root-body {
                flex: 1;
            }
        }

        .basic-three-column-layout.root-parent {
            .root-header {
                height: 82px;
            }

            .root-footer {
                height: 131px;

                > div {
                    // width: 1920px;
                    margin: 0 auto;
                }
            }

            .root-body {
                display: flex;
                margin-left: 25px;

                .root-body-left-sidebar,
                .root-body-right-sidebar {
                    flex: none;
                    width: 313px;
                    box-sizing: border-box;
                    padding: 24px;
                }

                // FIXME Удалить свойство
                .root-body-left-sidebar {
                    display: none;
                }

                .root-body-main-content {
                    width: 1294px;
                    box-sizing: border-box;
                    // flex: 1;
                    padding: 65px 30px 30px;
                }

                // TODO Перенести в отдельный компонент-композит
                .composite-component-icon-title {
                    display: flex;
                    align-items: center;

                    & > div:nth-child(1) {
                        margin-right: 9px;
                    }
                }

                .divider-wrapper-left-sidebar-header {
                    margin-top: 10px;
                    margin-bottom: 15px;
                }
            }
        }

        .landing-layout.root-parent {
            .root-header {
                height: 122px;
            }

            .root-footer {
                height: 353px;

                > div {
                    width: 1280px;
                    margin: 0 auto;
                }
            }
        }
    }
}

h1 {
    text-align: center;
    font-size: 23px;
    line-height: 35px;
    padding: 21px 17px;
    color: defaultVars.$coralThemFourthColor;
}

h2 {
    text-align: center;
    font-size: 21px;
    line-height: 31px;
    padding: 19px 17px;
    color: defaultVars.$coralThemFourthColor;
}

h3 {
    text-align: center;
    font-size: 19px;
    line-height: 27px;
    padding: 17px 17px;
    color: defaultVars.$coralThemFourthColor;
}

h4 {
    text-align: center;
    font-size: 17px;
    line-height: 23px;
    padding: 17px 17px;
    color: defaultVars.$coralThemFourthColor;
}

h5 {
    text-align: center;
    font-size: 15px;
    line-height: 19px;
    padding: 15px 17px;
    color: defaultVars.$coralThemFourthColor;
}

h6 {
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    padding: 13px 17px;
    color: defaultVars.$coralThemFourthColor;
}

p {
    padding: 10px 17px;
    font-size: 12px;
    line-height: 17px;
    text-align: justify;
    color: defaultVars.$coralThemFifthColor;
    text-indent: 30px;
}
