/*
 * Сoral theme
 */

$coralThemFirstColor: #FF7F50; // Основной акцентный цвет (главное меню)
$coralThemSecondColor: #ffdead; // Второй акцентный цвет (элементы главного меню)
$coralThemThirdColor: #fcfcee; // Фоновый цвет (основной цвет фона)
$coralThemFourthColor: #708090; // Цвет заголовков, текст (полей ввода)
$coralThemFifthColor: #2F4F4F; // Цвет текста, рамок (инпутов), горизонтальных разделителей
$coralThemSixthColor: rgba(249, 255, 112, 0.2); // Цвет заливки полей ввода текста
$coralThemSeventhColor: rgba(1, 151, 246, 0.2); // Цвет заливки кнопки
$coralThemEighthColor: red; // Цвет текста ошибки
$coralThemNinthColor: green; // Цвет текста состояния загрузки
