@use '../../../../styles/DefaultVars.scss' as defaultVars;

.component-input-CheckBox {
    appearance: none;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    outline: none;
    border: 2px solid defaultVars.$originalThemeNinthColor;
    border-radius: 3px;

    &:checked {
        background: no-repeat center center url('../../../../assets/check.png') defaultVars.$originalThemeFourthColor;
    }
}

.component-input-DifferentText {
    width: 100%;
    padding: 3px 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: defaultVars.$originalThemeThirdColor;
    background-color: defaultVars.$originalThemeSeventhColor;

    &:focus {
        border: none;
        outline: none;
        background-color: defaultVars.$originalThemeEleventhColor;
    }
}

.component-input-Text {
    width: 100%;
    padding: 7px 5px;
    box-sizing: border-box;
    border: 1px solid defaultVars.$originalThemeSixthColor;
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: defaultVars.$originalThemeThirdColor;
    background-color: transparent;

    &:focus {
        background-color: defaultVars.$originalThemeEleventhColor;
    }
}
