@use '../../../styles/DefaultVars.scss' as defaultVars;

.component-app-navigation {
    height: 82px;
    width: 100%;
    background-color: defaultVars.$originalThemeFirstColor;

    .component-app-navigation-wrapper {
        display: flex;
        justify-content: flex-start;
        width: 1416px;
        height: 100%;
        margin: 0 auto;
        padding-top: 16px;
        box-sizing: border-box;
        overflow: hidden;

        .component-app-navigation-logo {
            width: 212px;
            height: 40px;
            margin-right: 61px;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 22px;

            &:hover { opacity: 0.5; }
        }

        .component-app-navigation-link-list {
            width: 337px;
            margin-right: 106px;
            padding-top: 10px;

            a {
                color: defaultVars.$originalThemeSecondColor;
                margin-left: 30px;
            }

            a:nth-child(1) {
                margin-left: 0;
                text-transform: none;
            }
        }

        .component-app-navigation-profile {
            width: 614px;
            padding-top: 10px;
            display: flex;
            justify-content: space-between;

            a { color: defaultVars.$originalThemeFifthColor; }

            a:nth-child(1) {
                max-width: 523px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            a:nth-child(2) { text-transform: none; }
        }
    }
}
