@use '../../../../styles/DefaultVars.scss' as defaultVars;

.component-button-ActionButton {
    min-width: 225px;
    height: 55px;
    padding: 16px 21px;
    box-sizing: border-box;
    border: 2px solid defaultVars.$originalThemeThirdColor;
    border-radius: 10px;
    
    background-color: defaultVars.$originalThemeFourthColor;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    &:hover { opacity: 0.5; }
}

.component-button-ActionButton.isInactive {
    background-color: defaultVars.$originalThemeSeventhColor;
}

.component-button-ActionButtonGray {
    min-width: 225px;
    height: 55px;
    padding: 16px 21px;
    box-sizing: border-box;
    border: 2px solid defaultVars.$originalThemeThirdColor;
    border-radius: 10px;
    
    background-color: defaultVars.$originalThemeSeventhColor;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    &:hover { opacity: 0.5; }
}

.component-button-IconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover { opacity: 0.5; }
}

.Square20 {
    width: 20px;
    height: 20px;
}

.component-button-LinkButton {
    cursor: pointer;

    &:hover { opacity: 0.5; }
}

.component-button-YellowButton {
    height: 29px;
    padding: 7px 10px;
    box-sizing: border-box;
    border: 1px solid defaultVars.$originalThemeThirdColor;
    border-radius: 5px;
    
    background-color: defaultVars.$originalThemeFourthColor;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;

    &:hover { opacity: 0.5; }
}

.component-button-YellowButton.isInactive {
    background-color: #fff;

    &:hover { opacity: 1.0; }
}

.component-button-Default {
    width: 121px;
    height: 31px;
    padding: 7px;
    border: 1px solid defaultVars.$originalThemeSixthColor;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    cursor: pointer;
}

// TODO Добавить стили для неактивной кнопки типа "Default"
// .component-button-Default.isInactive {}
