.composite-component-form-field-InputField {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div:nth-child(1) {
        width: 161px;
    }

    >div:nth-child(2) {
        width: 121px;
    }
}
